<footer class="w-full bg-dark flex flex-col justify-center items-center gap-6 py-10 text-slate-100 ">
    <div
        class="footer-social flex justify-around text-2xl max-sm:text-lg gap-x-9">
        <a [href]="'mailto:' + mail"
            class="bg-black rounded-full py-2 px-3 max-sm:py-1 max-sm:p-2 duration-200 hover:bg-omg_red"><i
                class="ri-mail-line"></i></a>
        <a [href]="instagram" target="_blank"
            class="bg-black rounded-full py-2 px-3 max-sm:py-1 max-sm:p-2 duration-200 hover:bg-omg_red"><i
                class="ri-instagram-line"></i></a>
        <a [href]="youtube" target="_blank"
            class="bg-black rounded-full py-2 px-3 max-sm:py-1 max-sm:p-2 duration-200 hover:bg-omg_red"><i
                class="ri-youtube-line"></i></a>
    </div>
    <div class="max-sm:text-sm">
        <p>
            &copy; 2022 <span
                class="border-b border-omg_red cursor-pointer duration-200 inline-block hover:text-omg_red hover:border-transparent">Omega
                Gym</span> | Tüm Hakları Saklıdır
        </p>
    </div>
    <div class="hover:scale-[1.02] font-light text-xs text-slate-300 duration-200 hidden">
        <p>Desing By <a href="" class="hover:underline underline-offset-2 hover:text-omg_red">Murat Eren Nar</a></p>
    </div>
</footer>