<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-20 w-auto" src="assets/img/omega_logo.png" alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900" *ngIf="state?.state">Yeni Şifrenizi Giriniz</h2>
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-omg_red" *ngIf="!state?.state">Sayfa Bulunamadı</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm" *ngIf="state?.state">


        <form class="space-y-6" [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit(updatePasswordForm.value)">
            <div>
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                <div class="mt-2">
                    <input formControlName="password" id="password" name="password" type="password" [ngClass]="{'updatePasswordInvalid': submitted && updatePasswordComponent.password.errors}"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-dark sm:text-sm sm:leading-6">
                        <p class="mt-2 text-sm text-red-600" *ngIf="submitted && (updatePasswordComponent.password?.errors)"><span class="font-medium"></span>Lütfen Bu Alanı Boş Geçmeyin</p>
                        <p class="mt-2 text-sm text-red-600"
                        *ngIf="submitted && (updatePasswordComponent.password?.errors?.minlength || updatePasswordComponent.password?.errors?.maxlength)">
                        <span class="font-medium"></span>En az 6 en fazla 12 karakter içerebilir</p>
                </div>
            </div>

            <div>
                <label for="passwordConfirm" class="block text-sm font-medium leading-6 text-gray-900">PasswordConfirm</label>
                <div class="mt-2">
                    <input formControlName="passwordConfirm"   id="passwordConfirm" name="passwordConfirm" type="password" [ngClass]="{'updatePasswordInvalid': submitted && updatePasswordComponent.passwordConfirm.errors}"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-dark sm:text-sm sm:leading-6">
                        <p class="mt-2 text-sm text-red-600" *ngIf="submitted && (updatePasswordComponent.passwordConfirm.errors)"><span class="font-medium"></span>Lütfen Bu Alanı Boş Geçmeyin</p>
                        <p class="mt-2 text-sm text-red-600"
                        *ngIf="submitted && (updatePasswordComponent.confirmPassword?.errors?.minlength || updatePasswordComponent.confirmPassword?.errors?.maxlength)">
                        <span class="font-medium"></span>En az 6 en fazla 12 karakter içerebilir</p>
                        <p class="mt-2 text-sm text-red-600" *ngIf="submitted && (updatePasswordForm.hasError('mismatch'))"><span
                            class="font-medium"></span>Şifreler Eşleşmiyor !</p>
                </div>
            </div>

            <div>
                <button type="submit"
                    class="flex w-full justify-center rounded-md bg-omg_red px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Gönder</button>
            </div>
        </form>
    </div>

    <div class="absolute bottom-5 text-center left-[46.5%] px-1 ">
        <a routerLink="/anasayfa"><i class="ri-arrow-right-s-line"></i> <span
                class="border-b-2 px-1 border-transparent hover:border-omg_red">Ana Sayfa</span></a>
    </div>
</div>

