<router-outlet></router-outlet>
<ngx-spinner name="OmegaGymSpinner" bdColor="rgb(255,255,255)" size="medium" color="#ec131d" type="timer"
    [fullScreen]="true"
    template='<img src="assets/icons/android-chrome-512x512.png" width="200px" height="auto" />'></ngx-spinner>

<ngx-spinner name="OmegaGym500Page" bdColor="rgb(255,255,255)" size="medium" color="#ec131d" type="timer"
    [fullScreen]="true"
    template='<img src="assets/http-code-img/OMEGA500.png" width="400px" height="auto" />'></ngx-spinner>

<ngx-spinner name="OmegaGym404Page" bdColor="rgb(255,255,255)" size="medium" color="#ec131d" type="timer"
    [fullScreen]="true"
    template='<img src="assets/http-code-img/OMEGA404.png" width="400px" height="auto" />'></ngx-spinner>

<ngx-spinner name="OmegaGymUnknownPage" bdColor="rgb(255,255,255)" size="medium" color="#ec131d" type="timer"
    [fullScreen]="true"
    template='<img src="assets/http-code-img/OMEGAUnknown.png" width="400px" height="auto" />'></ngx-spinner>