.model_image {
    animation-name: zoom;
    animation-duration: 0.6s;
}

.pricing_card:hover .price {
    color: #EC1A23;
}

.contact-mail:hover .contact-icon {
    transition: ease .2s;
    background-color: #EC1A23;
    color: #f1f1f1;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}